.calculator {
  height: 615px;
  width: 490px;
  border: 1px black solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3px;
  background-color: #273746;
  padding: 10px;
  margin: 10px;
}

.name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: #EAECEE;
  margin-left: 10px;
  margin-bottom: 0px;
}

.screen {
  height: 100px;
  width: 470px;
  background-color: #273746;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  color: white;
  text-align: right;
  border: 1px solid #EAECEE; 
  padding-right: 13px; 
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#row2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}

.button {
  width: 120px;
  height: 100px;
  color: #2C3E50;
  border-radius: 4px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.number {
  background-color: hsl(214 9% 85%);
}
.number:hover {
  background-color: hsl(214 9% 75%);
  transition: 0.5s;
}

.number:active {
  background-color: hsl(214 9% 85%);
  transition: 0.2s;
  transform: scale(0.98);
}

.operator {
  background-color: hsl(39 100% 50%);
}

.operator:hover {
  background-color: hsl(39 100% 40%);
  transition: 0.5s;
}

.operator:active {
  background-color: hsl(39 100% 50%);
  transition: 0.2s;
  transform: scale(0.98);
}

.clearbtn {
  background-color: hsl(0 100% 50%);
}

.clearbtn:hover {
  background-color: hsl(0 100% 40%);
  transition: 0.5s;
}

.clearbtn:active {
  background-color: hsl(0 100% 50%);
  transition: 0.2s;
  transform: scale(0.98);
}

.equalbtn {
  background-color: hsl(147 50% 47%);
}

.equalbtn:hover {
  background-color: hsl(147 50% 37%);
  transition: 0.5s;
}

.equalbtn:active {
  background-color: hsl(147 50% 47%);
  transition: 0.2s;
  transform: scale(0.98);